.banner-head{font-size: 3.5rem;font-weight: 600;line-height: 80px;letter-spacing: 0em;text-align: center;}
.banner-para{font-size: 1.2rem;font-weight: 500;line-height: 47px;letter-spacing: 0em;text-align: center;padding: 0 8rem;}
.banner-btn{padding: 16px 24px;font-size: 18px;font-weight: 600; color: #000000;border-radius: 5px;text-transform: uppercase;letter-spacing: 4px;background-color: #fff;border: 0px;margin-top: 20px;}
.carousel{max-height: 70vh !important;}
.carousel-item{height: 70vh !important;}
.carousel-item > img{height: 70vh;width: 100vw;}
.carousel-caption{padding-bottom: 4.5rem;}
.carousel-indicators .active{visibility: hidden;}
.carousel-control-prev-icon{background: url('/images/pre-banner.svg');padding: 0px;width: 60px;height: 60px;background-repeat: no-repeat;}
.carousel-control-next-icon{background: url('/images/pre-banner.svg');padding: 0px;width: 60px;height: 60px;background-repeat: no-repeat;rotate: 180deg;}



.box{background:linear-gradient(101.09deg, #1176D0 13.72%, #025FB2 89.1%);padding: 0 50px;height: 160px; align-items: center; display: flex; justify-content:center;border-radius:10px;color: rgba(255, 255, 255, 1);text-transform: uppercase;font-weight: 600;}
.green-box{background: linear-gradient(102.08deg, #68CD3E 12.37%, #3AA20F 84.78%);
}


@media (max-width: 768px) {
    .banner-para{padding: 0;font-size:.9rem;font-weight: 400;line-height: 30px;width: 15rem;}
    .banner-head{font-size: 2rem;font-weight: 600;line-height: 40px;}
    .banner-btn{padding: .7rem 1.5rem;font-size: 1rem;font-weight: 600; color: #000000;border-radius: 5px;text-transform: uppercase;letter-spacing: 4px;background-color: #fff;border: 0px;margin-top: 20px;}
    .box{padding: 0 1rem;height: 100px;}
    .col-3.mt-5.mb-5{width: 100%;margin: 1rem 0 !important;}
    .carousel-control-prev{left: 10px;}
    .carousel-control-next{right: 10px;}
    .carousel-caption{display: flex;flex-direction: column; justify-content: center;align-items: center;}
}