@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
/* img{height: 200px;width: 200px;} */
body,footer{font-family: Montserrat;overflow-x: hidden;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  button{outline: none;border: 0;background-color: transparent;}
  a{text-decoration: none;font-family: Montserrat;}


  /* Center */
.center{display: flex; justify-content: center; align-items: center; width: 100%;}
.col-center{display: flex; justify-content: center; align-items: center;flex-direction: column; }
.log.center{width: max-content !important;}
/* Body styles */
  h1,h2,h3,h4,h5,h6 {font-family: Montserrat;margin: 0 }
  p{font-family: Montserrat;margin: 0 !important;}
  .b{font-weight: 600 !important;}
  .bg-blue{background: #F4FAFF;}
.back-btn{background:rgb(1, 79, 179);border-radius: 50%;height: 3rem;width: 3rem;}
.back-btn svg{color: #fff; font-size: 2rem;}
  .heading{text-transform: uppercase;}
.bg-dark-blue{background:rgb(1, 79, 179);}

  /* input */
  input{background: transparent; outline: none;border:0 ;;}

  /* button */
  .checkout{width: 100%;padding: 1rem;background-color: rgb(1, 79, 179);margin-top: 2rem;text-transform: uppercase;color: aliceblue;font-weight: 500;letter-spacing: .3rem;transition: box-shadow 0.3s ease;}
    

    /* .slick-slider.slick-initialized {
      background: url('/images/green.svg') left top no-repeat, url('/images/blue.svg') right bottom no-repeat;
  } */
    .blue {
      background: url('/images/blue.svg') left top no-repeat;
  }
    .grn{
      background: url('/images/green.svg') left top no-repeat;
  }
  input[type="number"] {
    -moz-appearance: textfield;
}
.txt-contact{border:1px solid #5B5B5B;}
/* For older versions of Edge */
input[type="number"]::-ms-inner-spin-button,
input[type="number"]::-ms-outer-spin-button {
    appearance: none;
}
input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
  @media(max-width:768px){
    .w100{width: 100%;}
    .rowBlock{display: block;}
    .none{display: none;}
    .res-col-center{display: flex; justify-content: center;align-items: center;flex-direction: column;}
    .log.center{width: max-content !important;}
  }