.product-search-page{padding: 2rem;}
.mt-product-card{margin-top: 1rem;}
.product-search-page {display: flex;width: 100%;}
.product-search-page>aside {width: 20%;border-right: 1px solid rgba(36, 138, 202, 0.5);display: flex;flex-direction: column;gap: 1.2rem;padding: 1rem;}
.product-search-page>main {width: 80%;padding: 0 2rem;}
.input-box{display: flex;gap: 1.2rem;margin-left: 1.6rem; border-bottom: 1px solid rgba(15, 147, 229, 0.5);padding: 1rem 0;align-items: center;margin-bottom: 1rem;}
.input-box>input{padding: .25rem;}
.input-box>svg{color: #014FB3;height: 1.5rem;width: 1.5rem;}
select {width: 90%; padding: .8rem;border: 1px solid #ccc; border-radius: 4px; background-color:#014FB3; font-size: 1rem; color: #fff; }
.range-input{width: 90%;}
option {font-size: 1rem;  background-color: #054aa4;font-family: Montserrat;}
.blue-text{ color:#014FB3;letter-spacing: .2rem; font-weight: 600;}
.s-m-t{margin-top: 1rem;}

@media(max-width:500px){
    .product-search-page{display: block;padding: 1.7rem 1rem;}
    .product-search-page > aside{width: 100%;display: flex;align-items: center;flex-direction: row;border-right:none;padding: 0;}
    .product-search-page > aside >h3{display: none;}
    .product-search-page > aside >div{width: 33%;}
    .product-search-page > aside >div select{padding:.2rem .8rem;font-size: .7rem;}
    .product-search-page > aside >div h5{font-size: .9rem;}
    .product-search-page>main {width: 100%;padding: 0 ;}
    .products-page-head {margin-top: 1.2rem;}
    .products-page-head .col-4{width: 50%;}
    .products-page-head  h2{font-size: 1rem;}
    .search-pro{width: 100% !important;padding: 0;}
    .input-box{width:88%;padding: .5rem 0;margin-left:1rem;margin-top: .5rem;}
    .blue-text{font-size: 1rem;}
    .s-m-t{margin-top: .5rem;}
    .s-m-t>option{font-size: .6rem;padding:.1rem;min-height: 1rem;}
}