
.slider-container{background-color: #F4FAFF;padding: 20px 0;}
.cardC{height: 35rem;margin: 0;padding: 20px;align-items: center;border: 0px;border-radius: 20px;background: #FFFFFF;}
.card-body{height: 172px;text-align: center;padding: 20px 0;}
.card .img{height: 390px;display:flex;align-items: center;background: #F4FAFF;border-radius: 20px;padding: 0 15px;}
.card-title{color: rgba(0, 0, 0, 1);font-size: 22px;text-transform: uppercase;font-weight: 600;}
.card-text{font-family: Montserrat; font-size: 28px;font-weight: 700;color: rgba(53, 180, 119, 1);padding: 10px 0;}

.add-cart{background: rgba(1, 79, 179, 1);display: flex;width: 390px;justify-content: center;align-items: center;padding: 10px 0;border-radius: 20px; color: #FFFFFF;border: 0px;font-size: 18px;
}
.add{color: white;font-size: 18px;text-transform: uppercase;margin-bottom: 0px;}

.fa-solid{color: rgb(9, 8, 8); padding: 0 10px;}

#button{width: 50px;padding: 10px; border-radius: 50%;}
#button i{border: 1px solid #151414;padding: 10px;border-radius: 50px;}
