.cart{display: flex;max-height: 100vh;position: relative;}
.cart main{width: 60%;min-height: 100vh;overflow: scroll;padding: 5rem 3rem;}
.cart aside{width: 40%;}
.cart aside img{width: 100px !important; height:100px }
.cart main::-webkit-scrollbar {
    display: none; }
    .priceCard{margin: 5rem 3rem;box-shadow: rgba(157, 157, 157, 0.2) 0px 2px 8px 0px;;width: 80%;height: 70%;padding: 2.5rem;background: #FAF8F8;position: sticky;top: 0;border-radius: 10px;}
    .cartBoxRow {padding: .5rem 0 !important;border-bottom: 1px solid #9494946a;}
    .priceCard>h3{padding-bottom: 1.2rem;text-transform: uppercase;font-weight: 700;}
    .cartPriceBox{width: 100%;}
    .cartBoxRow{display: flex;justify-content: space-between;padding: 2px 0px;}
    .empty{width: 50vw;}
    .coupon-code{padding: .5rem; border-radius: 5px;border: .5px solid rgb(214, 213, 210);margin-top: 1.5rem;transition: box-shadow 0.3s ease;text-align: center;}
    .cartBoxRow.b{font-size: 1.5rem;}
    .coupon-code:hover {
        box-shadow: 0 0 10px 3px rgba(255, 255, 0, 0.5); /* Yellow box shadow */
      }
      .delete-btn > svg{font-size: 1.4rem !important;}
      @media(max-width:500px){
        .cart{max-height: fit-content;}
        .cart main{min-height: fit-content;width: 100%;padding: 1rem;}
        .cart aside{width: 100%;}
        article p{font-size: .7rem !important;}
        .cart-item >article{font-size: 1rem !important;width: 12rem !important;}
        .cartImg{height: 3.5rem !important;max-width: 5rem !important;}
        .cart-pro-data > p{font-size: .7rem !important;}
        .i-d-btns{gap: .5rem !important;}
        .i-d-btns button{height: 20px !important;width: 20px !important;}
        .delete-btn > svg{font-size: 1.3rem !important;}
        .empty{width: 100vw;}
        .priceCard{width: 92%;margin: 1rem;padding:1rem;}
        .priceCard>h3{font-weight: 600;}
        .cartBoxRow.b{font-size: 1.2rem;}
        .checkout{font-size: .9rem;padding: .7rem;}
      }