.payment-content h3{font-size: 32px; font-weight: 600;letter-spacing: 4px;}
.payment-content h5{padding: 15px 0;}
.payment-content p{font-size: 16px;line-height: 35px;font-weight: 400;margin: 0;color: #777c87;}