/* .shipping{padding: 3rem 0 0 0 ;} */
/* .shipping h1{margin: 2rem 0;} */
.address-box{width: 100%;display: flex;align-items: center;justify-content: space-between;}

.radio-container {
    display: flex;
    align-items: center;
    width: 90%;
  }
  .ship-content{padding: 2rem 0 2rem 2rem;}
  /* .ship-r{background-color:  #0b72bc;} */
  .ship-l{background-color:rgb(1, 79, 179);min-height: 85vh;}
  .redio-address{  padding: 1.2rem;border: 1px solid rgba(101, 101, 101, 0.2);width: 100%;background-color:#fff;transition:.3s ease-in-out;display: flex !important; justify-content: space-between;}
  .radio-container input[type="radio"] {
    display: none;
  }
  /* .radio-label.redio-address div{color: #fff;} */
  .radio-label.redio-address.selectedAddressLabel::before{background-color: #0a76ce;}
  .radio-label::before {
    content: '';
    display: inline-block;
    width: 20px; 
    height: 20px;
    border: 2px solid #0b71d0; 
    border-radius: 50%;
    margin-right: 10px; 
  }


  .radio-container input[type="radio"]:checked + .radio-label::before {
    background-color: #ff00aa;
  }
  .selectedAddressLabel {
    background-color: rgba(209, 253, 229, 0.537);
    width: 100%;

  }
  /* Change label color only when radio button is checked */
  .radio-container input[type="radio"]:checked + .radio-label {
    color: #000000; 
  }
.radio-label{display: flex; align-items: center;gap: 1rem;}
  #savedAddress:checked  + .radio-label {
    color: #0b72bc; 
    cursor: pointer; 
    font-size: 16px; 
  }

  #newAddress:checked  + .radio-label {
    color: #0a76ce; 
    cursor: pointer; 
    font-size: 16px;
  }
.address-edit {width:6rem;padding:1rem;color:#fff;background-color: #0a76ce;padding: .3rem;}
.address-delete {background-color: rgb(254, 42, 42);width:6rem;padding:.3rem;color:#fff}

.pay-now{width: max-content !important;padding: 1rem 3rem;}
.new-address{min-height: 50vh;padding: 1rem 0;display: flex;transition: .4s ease-in;}
.new-address form{display: flex;flex-direction: column;background-color: #fff;width: 100%;
  border:1px solid rgba(91, 145, 253, 0.2)
  /* box-shadow: 
  inset 0.5rem 0.5rem #1176D0, 
  inset -0.5rem -0.5rem #68CD3E, 
  0.5rem 0.5rem 0 #1176D0, 
  -0.5rem -0.5rem 0 #68CD3E; */
;padding: 3rem;}
.input-box-address>input{padding: .5rem 0; font-size: 1.1rem;}
.input-box-address{margin: .2rem 0;}
.input-box-address {
  position: relative;
}
.user-add-row{display: flex;justify-content: space-between; align-items: center;}
.user-address{width: 31rem;}
.input-box-address input,.input-box-address select {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  transition: border-color 0.3s ease;
  width: 100%;
}

.input-box-address input:hover,
.input-box-address input:focus {
  border-color: #007bff;
}
.edit-box>div>input , .edit-box>select{border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  transition: border-color 0.3s ease;
  width: 100%;}
/* .edit-box>div{padding: 2rem 0;display: flex; align-items: center; justify-content: space-between;} */
.edit-box{background-color: #fff;display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0.5rem 0.5rem 0 0 #1176D0, -0.5rem -0.5rem 0 0 #68CD3E;

  padding: 2rem;gap: 1rem;width: 83%;}
  .edit-confirm{display: flex;align-items: center;justify-content: space-between;}
  .save{padding: .6rem 1.3rem;background-color:rgb(1, 79, 179);font-weight: 500;color: #fff;border-radius: 2px;}
  .cancel{padding: .6rem 1.3rem;background-color:#e54830;font-weight: 500;color: #fff;border-radius: 2px;}
.sm-address input,.sm-address select{width: 48%;}
.sm-address{display: flex;align-items: center;justify-content: space-between;}
.sm-address select{background-color: #fff;color: #000;}

.ed-btn{display: flex;align-items: center;justify-content: center;flex-direction: column;gap: 7rem;}
  @media (max-width:500px) {
    .ed-btn{gap: 4.5rem;}
    .ship-l{min-height: fit-content;}
    .user-address{width:16rem;}
    .radio-label::before{height: 19px;}
    .user-add-row{font-size: .8rem;}
    .address-edit svg{margin-bottom: 2rem;}
    .edit-box{width: 100%;}
    .address-edit,.address-delete{font-size: .6rem;width: 3.5rem;}
    .res-fs{font-size: .7rem;}
    .address-edit{gap: .2rem;}
    .radio-label.redio-address{width: 100%;}
    .shipping{overflow-x: hidden;}
    .new-address form{padding: 2rem;}
    .ship-content{padding: 1rem;}
  }