nav{display: flex; justify-content: space-between;padding: 1.5rem;background-color: rgb(161, 214, 236);}
nav a{text-decoration: none; font-size: 1rem; color: black;font-weight: 700;}
nav a p{font-weight: 500;}
.nav-Body{display: flex; justify-content: space-between;width: 100%;}
.admin-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.ac-data{width: max-content}
.ac-data h6{font-weight: 700;}
.cartCount{margin-top: -20px !important;font-size: .9rem;}
.link-center{display: flex;text-align: center;justify-content: center;align-items: center;width: 100%;font-size: 18px; font-weight: 500; text-transform: uppercase;gap: 2rem;margin-left: 15vw;}
.logo-img{height: 3rem;}
.navbar-expand-lg{box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;}
.log {
    color: #fff;
    background-color: #1176D0;
    border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  padding: 10px 1rem;
  box-shadow: 0 0 10px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
  }
.logout {
    color: rgb(255, 255, 255);
    background-color: #1176D0;
    /* border: 1px solid rgb(224, 99, 85); */
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  padding: 10px 1rem;
  box-shadow: 0 0 10px rgba(224, 85, 85, 0.2);
  transition: 0.4s;width: 6rem;
  }
  /* .res-link{display: flex;gap: 2rem;} */
  .log:hover {
    color: white;

    box-shadow: 0 0 20px rgba(85, 224, 173, 0.6);
    background-color: rgb(11, 143, 77);
  }
  .logout:hover {
    color: white;
    /* box-shadow: 0 0 20px rgba(35, 221, 134, 0.711); */
    background-color: #3AA20F;
  }
  .logoOff{height: 1.5rem;}
  .profile-img{height: 30px;width: 30px; border-radius: 50%;}
  .navbar-expand-lg .navbar-nav .nav-link{display: flex; justify-content: center; align-items: center;}
  .navbar-toggler:focus{box-shadow: none !important;}
  .offcanvasNavbar-expand-md:focus{box-shadow: none !important;}
  .logout , .log{width: max-content;}
  .cartCount{height: 18px ; width: 18px !important; border-radius: 50%;font-size: 10px;font-weight: 400;color: #fff;background-color: #000;border: 1px solid #fff;margin-left: -7px;}
  .nav-Body .navbar-nav a,.ac-data p, .ac-data h6,.nav-Body .admin-logo a svg,.link-center.res-link a{color: #000 !important;}
  .logo-img{height: 2.2rem;}
  .pro-auto-link{margin-left: 2rem;}
  .container-fluid-nav{padding: 10px 4%;display: flex;justify-content: space-between;width: 100%;}
  .bx{box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}
  .bg-body-tertiary{background-color: #fff !important;}
  @media(max-width:767px){
    .container-fluid-nav{padding: 0 10px;}
    .logo-img{height: 1.7rem;}
    .link-center{width: fit-content;margin-left: 0;}
    .res-link , .admin-logo{display: flex; flex-direction: column; justify-content: center; align-items: center;}
    .logout{width: 20rem !important;}
    .admin-logo{margin:1.2rem 0 1.5rem 0;}
    .link-center{gap: 1.2rem;}
    .log.center{max-width: max-content !important;}

  }