.shipping h3{font-size: 24px; font-weight: 600;letter-spacing: 4px;}
.head{padding: 30px 0 30px 0px;margin-left:-15px;}
.shipping ul{padding-left: 0;}
.shipping li{font-size: 18px;padding-left: 18px;font-weight: 400;color: #777c87;line-height: 40px;}