/* .left-img-section-product{width: 50vw;} */
.slider-container-product .slick-slider.slick-initialized{height: 20rem !important;}
.slider-container-product .slick-arrow{display: none !important;}
.slider-container-product .slick-active.slick-current{display: flex; justify-content: center;align-items: center;}
.product-top .slick-list{margin: 0 !important;}
.product-active-img{width: 23rem !important;}
li a .product-active-img{width: 90px !important;}
.slider-container-product .slick-dots{width: 100%;display: flex;gap:.8rem;right: 200px;bottom: -10px;left: -80px;}
.product-top-text{display: flex;flex-direction: column;gap: .3rem;}
.slider-container-product .slick-dots{display: flex !important;width: 100%;justify-content: space-evenly;padding: 0 0 0 6rem;}
.card-body-product{padding:0 2.5rem;display: flex;flex-direction: column;gap: 1rem;width: 100%;height: 100%;}
.des{font-size: 1.2rem;height: 10rem;}
.stock{color: rgba(1, 79, 179, 1);}
.product-top{padding: 3rem 0;}
.left-img-section-product{box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;padding: 2rem;background: #fff;}
.related{ color: rgba(1, 79, 179, 1); text-transform: uppercase;letter-spacing: .25rem;text-align: center;margin: 2rem !important;font-weight: 600;}
.tags{padding: 2rem; background: #fff;box-shadow: rgba(31, 101, 253, 0.16) 0px 1px 4px;;border-radius: 8px;}
.tags .row{padding-bottom:1rem ;border-bottom: 2px solid  rgba(1, 79, 179, 1) ;}
.tags .col-2{color: rgba(1, 79, 179, 1) ; text-transform: uppercase; letter-spacing: .23rem;}
.des-bot{margin: 1rem 0;font-size: 1.2rem;}
.bluetxt{color: rgba(1, 79, 179, 1) ;font-size: 1.2rem;margin-bottom: 1rem; text-transform: uppercase; letter-spacing: .25rem;font-weight: 500;}
.blue-text{color: rgba(1, 79, 179, 1) ;font-size: 1.1rem;margin-bottom: 1rem;}
.tagbox{padding: .45rem 1rem;box-shadow: rgba(19, 85, 227, 0.225) 0px 1px 3px 0px, rgba(14, 90, 167, 0.34) 0px 0px 0px 1px;; border-radius: 5rem;display: flex;align-items: center;gap: .8rem;}
.tag{display: flex; flex-wrap: wrap;gap: 1rem;}
.mx-h-img > img{max-height: 20rem;}

@media (max-width: 767px) {
    .slider-container-product .slick-dots{bottom: 20px;}
    .slick-dots li{width: 35px;}
    li a .product-active-img{width: 50px !important;}
    .card-body-product{padding: 2rem;}
    .des{height: fit-content;}
    .tags .col-2{width: 33%;letter-spacing: .1rem; font-size: .7rem;}
    .product-active-img{width: 100% !important;}
    .des{height: max-content;}
}