.login>main{border-radius: 1rem;}
.login-select{color: black !important;background-color: #fff !important;}
.login-select option{color: black !important;background-color: #fff !important;}
@media(max-width:'500px'){
    .login{padding: 0 1.2rem;}
}